.descricao strong:hover, .letra-3:hover, .nome:hover, .caixa-stories p:hover, .icones:hover, .bandeira:hover,.subperfil-info p:hover {
    cursor: pointer;
    opacity: 0.6;
}

.informacoes p:hover,.bot strong:hover, .perfil-G:hover, .perfil-M:hover, .perfil-P:hover, .seta:hover, .logo img:hover{
    cursor: pointer;
}
.letra-1:hover{
    cursor: pointer;
    text-decoration: underline;
}
.seta:hover{
    background-color: rgb(205, 92, 92, 0.9);
    width: 33px;
    height: 33px;
}
.perfil-M:hover ~ .subperfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.subperfil:hover{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#FAFAFA;
}
.comentarios ion-icon:hover{
    cursor: pointer;
    background-color: rgb(238, 238, 38);
}
.comentarios p:hover{
    opacity: 0.8;
    cursor: pointer;
}


